body {
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen, Ubuntu, Cantarell, "Open Sans",
    "Helvetica Neue", sans-serif;
}
html,
footer,
aside,
header,
main,article {
  box-sizing: border-box;
}

body,
footer,
aside,
header,
main,
h1,
h2,
h3,
h4,
h5,
h6,
a,
ul,
li,
article,
img,
form,
span,
input,
button,
select,
textarea{
  margin: 0;
  margin: 0;
  border: 0;
  outline: 0;
}
:focus,
:active {
  outline: none;
}
*:before,
*:after {
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}
input,
button,
textarea {
  font-family: inherit;
}
input::-ms-clear {
  display: none;
}
button {
  cursor: pointer;
}
button::-moz-focus-inner {
  padding: 0;
  border: 0;
}
a,
a:visited {
  text-decoration: none;
}
a:hover {
  text-decoration: none;
}
ul li {
  list-style: none;
}
img {
  vertical-align: top;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-weight: 400;
}
[hidden] {
  display: none;
}