@import url("https://fonts.googleapis.com/css2?family=Open+Sans:wght@400;600;700&display=swap");

@font-face {
   font-family: "Brawl_Stars";
   src: url(../fonts/Nougat-ExtraBlack.ttf) format("truetype");
   font-weight: normal;
}

.start {
   box-sizing: border-box;
   text-align: center;
   width: 90vw;
   max-width: 866px;
}

.start__open-modal {
   font-weight: 700;
   font-family: var(--main-font);
   display: flex;
   justify-content: center;
   align-items: center;
   position: relative;
   box-shadow: 5px 10px rgba(0, 0, 0, 0.25);
   cursor: pointer;
   border: 5px solid #ffffff;
}

.start__open-modal:active {
   box-shadow: 5px 5px rgba(0, 0, 0, 0.25);
   top: 5px;
}

.start__btn {
   transform: skew(-10deg);
   background-color: var(--main-yellow);
   display: block;
   width: 350px;
   height: 144px;
   border-radius: 7px;
}

.start__btn:active {
   outline: none;
   transform: skew(-10deg);
}

.start__btn-text {
   display: block;
   transform: skew(10deg);
   font-size: 70px;
   text-transform: uppercase;
   color: #ffffff;
   font-weight: 800;
}

.start__controls-wrapper {
   width: 90%;
   max-width: 866px;
   margin: 0 auto;
   position: relative;
   bottom: -350px;
   display: flex;
   justify-content: space-between;
}

.start__controls {
   font-size: 90px;
   color: #fff;
   border-radius: 50%;
   cursor: pointer;
   width: 144px;
   height: 144px;
   background-color: var(--main-blue);
}

#video-bg {
   position: fixed;
   top: 0;
   right: 0;
   bottom: 0;
   left: 0;
   overflow: hidden;
   background-size: cover;
}

#video-bg>video {
   position: absolute;
   top: 0;
   left: 0;
   min-width: 100%;
   min-height: 100%;
   width: auto;
   height: auto;
}

@supports (object-fit: cover) {
   #video-bg>video {
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
      object-fit: cover;
   }
}

.logo {
   font-size: 95px;
   font-weight: bolder;
   text-transform: uppercase;
   font-family: "Brawl_Stars";
   position: absolute;
}

.logo_game {
   top: 55.5%;
   left: 50%;
   position: fixed;
   transform: translate(-50%, -50%);
   color: red;
   text-shadow: 4px 6px 2px rgba(0, 0, 0, 1);
   /* animation: apearTitleGame 7.2s linear; */
   opacity: 0;
}
.logo_game--apearTitleGame{
   animation: apearTitleGame 5.6s linear;
   opacity: 1;

}
@keyframes apearTitleGame {
   0% {
      opacity: 0;
   }

   89% {
      opacity: 0;
      transform: translate(-50%, -50%) scale(10);
   }

   91% {
      opacity: 0.5;
      transform: translate(-50%, -50%) scale(9);
   }

   /*
   93% {
      opacity: 0.6;
      transform: translate(-50%, -50%) scale(8);
   }
   94% {
      opacity: 0.7;
      transform: translate(-50%, -50%) scale(7);
   }
   95% {
      opacity: 0.8;
      transform: translate(-50%, -50%) scale(6);
   }
   96% {
      opacity: 0.9;
      transform: translate(-50%, -50%) scale(5);
   }
   97% {
      opacity: 1;
      transform: translate(-50%, -50%) scale(4);
   } */
   92% {
      opacity: 1;
      transform: translate(-50%, -50%) scale(1.5);
   }

   /* 99% {
      opacity: 1;
      transform: translate(-50%, -50%) scale(2);
   } */
   100% {
      opacity: 1;
      transform: translate(-50%, -50%) scale(1);
   }
}

.logo_team {
   font-size: 50px;
   opacity: 0;
   top: 59.5%;
   right: 14%;
   position: fixed;
   transform: translate(-50%, 0%);
   color: var(--main-yellow);
   text-shadow: 4px 6px 2px rgba(13, 0, 135, 0.685);
   /* animation: apearLogoTeam 8s linear; */
}
.logo_game--apearLogoTeam{
   animation: apearLogoTeam 6.8s linear;
   opacity: 1;

}
@keyframes apearLogoTeam {
   0% {
      opacity: 0;
   }

   91% {

      opacity: 0;
      transform: translate(-50%, 0%) scale(10);
   }

   95% {

      opacity: 0.5;
      transform: translate(-50%, 0%) scale(9);
   }

   /* 93% {
      
      opacity: 0.6;
      transform: translate(-50%, 0%) scale(8);
   }
   94% {
      
      opacity: 0.7;
      transform: translate(-50%, 0%) scale(7);
   }
   95% {
      
      opacity: 0.8;
      position: fixed;
      transform: translate(-50%, 0%) scale(6);
   }
   96% {
      
      opacity: 0.9;
      transform: translate(-50%, 0%) scale(5);
   }
   97% {
      
      opacity: 1;
      transform: translate(-50%, 0%) scale(4);
   }
   98% {
      
      opacity: 1;
      transform: translate(-50%, 0%) scale(3);
   } */
   97% {

      opacity: 1;
      transform: translate(-50%, 0%) scale(1.5);
   }

   100% {

      opacity: 1;
      transform: translate(-50%, 0%) scale(1);
   }
}

@media screen and (max-width: 1500px) {
   .logo_team {
      right: 5%;
      animation: apearLogoTeam 6.8s linear;
   }
}

@media screen and (max-height: 900px) {
   .start__controls-wrapper {

      bottom: -250px;

   }
}

@media screen and (max-width: 808px) {
   .start__btn {
      width: 220px;
      height: 90px;
   }

   .start__controls-wrapper {
      width: 90%;
      max-width: 433px;
      margin: 0 auto;
   }

   .start__controls {
      font-size: 60px;
      width: 90px;
      height: 90px;
   }

   .start__btn-text {
      font-size: 50px;
   }

   .logo_team {
      right: -20%;
      animation: apearLogoTeam 6.8s linear;
   }

   /* @keyframes apearLogoTeam {
      0% {
         opacity: 0;
      }
      91% {
         top: 55%;
         right: -20%;
         opacity: 0;
         transform: translate(-50%, 0%) scale(10);
      }
      92% {
         top: 55%;
         right: -20%;
         opacity: 0.5;
         transform: translate(-50%, 0%) scale(9);
      }
      93% {
         top: 55%;
         right: -20%;
         opacity: 0.6;
         transform: translate(-50%, 0%) scale(8);
      }
      94% {
         top: 55%;
         right: -20%;
         opacity: 0.7;
         transform: translate(-50%, 0%) scale(7);
      }
      95% {
         top: 55%;
         right: -20%;
         opacity: 0.8;
         position: fixed;
         transform: translate(-50%, 0%) scale(6);
      }
      96% {
         top: 55%;
         right: -20%;
         opacity: 0.9;
         transform: translate(-50%, 0%) scale(5);
      }
      97% {
         top: 55%;
         right: -20%;
         opacity: 1;
         transform: translate(-50%, 0%) scale(4);
      }
      98% {
         top: 55%;
         right: -20%;
         opacity: 1;
         transform: translate(-50%, 0%) scale(3);
      }
      99% {
         top: 55%;
         right: -20%;
         opacity: 1;
         transform: translate(-50%, 0%) scale(2);
      }
      100% {
         top: 55%;
         right: -20%;
         opacity: 1;
         transform: translate(-50%, 0%) scale(1);
      }
   } */
}

@media screen and (max-width: 468px) {
   .start__btn {
      width: 150px;
      height: 70px;
   }

   .start__controls {
      font-size: 45px;
      width: 70px;
      height: 70px;
   }

   .start__btn-text {
      font-size: 35px;
   }
}