@import "./reset.css";
@import "./variables.css";
@import "./how-to-play_modal.css";
@import "./authors.css";
@import "./start_modal.css";
@import "./menu.css";
@import "./game.css";
@import "./win-modal.css";
@import "./settings.css";
@import './pause.css';