:root {
   --main-blue: rgb(44, 80, 241);
   --main-yellow: #ecc408;
   --main-font: "Open Sans", sans-serif;
   --main-shadow: 5px 10px rgba(0, 0, 0, 0.25);
   --small-shadow: 4px 5px rgba(0, 0, 0, 0.25);
   --main-grey: #d8caca;
}
.modal {
   text-align: center;
   position: absolute;
   top: 50%;
   left: 50%;
   transform: translate(-50%, -50%);
   transition: 400ms linear;
   z-index: 10;
}
.main {
   min-height: 100vh;
   background-image: url(../img/bg4.jpg);
   background-position: center;
   background-repeat: no-repeat;
   background-size: cover;
   position: relative;
}
picture {
   display: inline-flex;
   align-items: center;
   justify-content: center;
}
.hidden-modal {
   opacity: 0;
   top: 50%;
   left: 50%;
   transform: translate(-50%, -50%) scale(0.8);
   position: absolute;
   visibility: hidden;
   z-index: -1;
   transition: 400ms linear;

}